@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .navbar-item {
        @apply flex justify-center items-center h-12 p-2 mr-2 
                bg-violet-200 text-violet-600 rounded-md
                hover:bg-violet-600 hover:text-violet-50;
    }
    .navbar {
        @apply relative flex md:flex-row flex-col gap-y-2 items-center md:justify-between p-2 
                bg-violet-100 mb-7 min-w-min;
    }
    .navbar-items-tip {
        @apply absolute -bottom-8 text-violet-50 bg-violet-900 rounded-md
                pt-1 pb-1 pl-2 pr-2 text-sm 
                transition-all duration-150 origin-top scale-0 ease-linear;
    }
    .active {
        @apply bg-indigo-300 text-indigo-600
    }
    .nav-item-sm {
        @apply scale-100 md:scale-0;
    }
    .product-form {
        @apply flex flex-col  w-2/3 md:w-1/2 h-40 m-auto min-w-min mt-20
                 rounded-md p-2 justify-around bg-indigo-200
    }
    .product-form-item {
        @apply p-2 bg-transparent text-indigo-900 outline-none placeholder:text-indigo-300
                text-center hover:bg-indigo-300 hover:placeholder:text-indigo-400 rounded-md
                focus:bg-indigo-300
    }
    .product-form-submit {
        @apply bg-violet-300 text-violet-700 hover:text-violet-100 hover:bg-violet-700
                p-2 rounded-md
    }
    .card-detail {
        @apply p-2 mb-2 md:w-1/2 md:m-auto md:mb-2 bg-violet-200 text-violet-600 flex flex-col rounded-md items-stretch
    }
    .remove-btn {
        @apply bg-red-300 text-red-500 hover:text-red-100 hover:bg-red-500
                p-2 rounded-md
    }
    .update-btn {
        @apply bg-indigo-300 text-indigo-500 hover:text-indigo-100 hover:bg-indigo-500
                p-2 rounded-md mr-2
    }
    .complete-order-card {
        @apply flex flex-row bg-violet-100 rounded-md
    }
    .complete-product-card {
        @apply flex flex-col items-start bg-violet-200 rounded-md text-violet-600 overflow-hidden p-2
    }
    .page-arrow {
        @apply  flex justify-center items-center text-violet-600 bg-violet-200
            hover:text-violet-100 hover:bg-violet-600 w-16 rounded-md grow-0 shrink-0
    }
    .card {
        @apply flex flex-col m-auto items-stretch justify-around bg-indigo-200 w-2/3 md:w-1/2 rounded-md p-2
                h-72
    }
    .card-item {
        @apply bg-transparent hover:bg-indigo-300 text-center text-indigo-600 rounded-md outline-none
                p-2 placeholder:text-indigo-300 hover:placeholder:text-indigo-500
    }
    .submit-card {
        @apply bg-violet-300 text-violet-700 hover:bg-violet-700 hover:text-violet-100 rounded-md p-2
    }
    .lock-btn {
        @apply bg-violet-300 fill-violet-500 rounded-md h-10 p-2 hover:bg-violet-500 hover:fill-violet-100
    }
    .place-order-btn {
        @apply w-full md:w-1/2 block md:m-auto text-violet-100 bg-violet-500 hover:bg-violet-600 p-2 rounded-md
    }
    
}